// base
mixin base-title(name,thumbnail)
  .c-page-title(style=`background-image:url(${thumbnail})`)
    .c-page-title__cover
    h1.c-page-title__text !{name}

mixin base-intro(title,sub,description)
  .c-base-intro
    .c-base-intro__wrap
      .c-base-intro__title-box(class=`${description === '' ? 'c-base-intro__title-box--one' : ''}`)
        h2.c-base-intro__title !{title}
        p.c-base-intro__title-sub !{sub}
        .c-base-intro__bar
      if description !== ""
        p.c-base-intro__description !{description}

// parts
mixin parts-title(text)
  .c-parts-title
    .c-parts-title__fill
    h2.c-parts-title !{text}

mixin base-cta
  .c-cta
    .c-cta__wrap
      p.c-cta__description クライアント様のご要望に合わせたサービスをご紹介しております。<br>まずはお気軽にお問い合わせ下さい
      a.c-cta__contact(href="/")
        p.c-cta__contact__text お問い合わせ

mixin parts-nav-link(text, link)
  a.c-nav-link(href=`!{link}`)
    span.c-nav-link__text !{text}
    svg.c-nav-link__arrow(xmlns='http://www.w3.org/2000/svg' width='11.792' height='18.281' viewBox='0 0 11.792 18.281')
      path(d='M8782.536,2699.2l-2.045-2.2,7.4-6.888-7.409-7.018,2.063-2.178,9.729,9.215Z' transform='translate(-8780.482 -2680.916)' fill='#fff')
